header, .post:not(:last-child) {
  border-bottom: .5px solid #cccccc4d;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #034AA6;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #3169b4;
}

.dollar-amount {
  color: #04BFBF;
  font-weight: bold;
  margin-left: -5px;
}
